#IMPORT PACKAGES

In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

#Reading the CSV File

In [3]:
df=pd.read_csv("Reg.csv")

In [5]:
df

    Obs     y    x1     x2     x3   x4    x5   x6
0     1  4540  2140  20640  30250  205  1732   99
1     2  4315  2016  20280  30010  195  1697  100
2     3  4095  1905  19860  29780  184  1662   97
3     4  3650  1675  18980  29330  164  1598   97
4     5  3200  1474  18100  28960  144  1541   97
5     6  4833  2239  20740  30083  216  1709   87
6     7  4617  2120  20305  29831  206  1669   87
7     8  4340  1990  19961  29604  196  1640   87
8     9  3820  1702  18916  29088  171  1572   85
9    10  3368  1487  18012  28675  149  1522   85
10   11  4445  2107  20520  30120  195  1740  101
11   12  4188  1973  20130  29920  190  1711  100
12   13  3981  1864  19780  29720  180  1682  100
13   14  3622  1674  19020  29370  161  1630  100
14   15  3125  1440  18030  28940  139  1572  101
15   16  4560  2165  20680  30160  208  1704   98
16   17  4340  2048  20340  29960  199  1679   96
17   18  4115  1916  19860  29710  187  1642   94
18   19  3630  1658  18950  29250  164  1576   94
19   20  3210  1489  18700  28890  145  1528   94
20   21  4330  2062  20500  30190  193  1748  101
21   22  4119  1929  20050  29960  183  1713  100
22   23  3891  1815  19680  29770  173  1684  100
23   24  3467  1595  18890  29360  153  1624   99
24   25  3045  1400  17870  28960  134  1569  100
25   26  4411  2047  20540  30160  193  1746   99
26   27  4203  1935  20160  29940  184  1714   99
27   28  3968  1807  19750  29760  173  1679   99
28   29  3531  1591  18890  29350  153  1621   99
29   30  3074  1388  17870  28910  133  1561   99
30   31  4350  2071  20460  30180  198  1729  102
31   32  4128  1944  20010  29940  186  1692  101
32   33  3940  1831  19640  29750  178  1667  101
33   34  3480  1612  18710  29360  156  1609  101
34   35  3064  1410  17780  28900  136  1552  101
35   36  4402  2066  20520  30170  197  1758  100
36   37  4180  1954  20150  29950  188  1729   99
37   38  3973  1835  19750  29740  178  1690   99
38   39  3530  1616  18850  29320  156  1616   99
39   40  3080  1407  17910  28910  137  1569  100

#Providing DATA

In [29]:
X=df.iloc[:,2:].copy()
y=df['y'].copy()   #keeping a copy of the dependent variable y

In [30]:
X,y=np.array(X),np.array(y)
x=sm.add_constant(X)

#OLS= Ordinary Least Squares

In [31]:
model1=sm.OLS(y,X)
results=model1.fit()

In [13]:
print(results.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          1.359e+05
Date:                Fri, 16 Aug 2024   Prob (F-statistic):                    5.93e-73
Time:                        15:58:32   Log-Likelihood:                         -186.17
No. Observations:                  40   AIC:                                      384.3
Df Residuals:                      34   BIC:                                      394.5
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.2867      0.284      4.533      0.000       0.710       1.864
x2            -0.0012      0.037     -0.032      0.975      -0.075       0.073
x3             0.0047      0.019      0.245      0.808      -0.035       0.044
x4             4.2037      2.787      1.509      0.141      -1.459       9.867
x5             1.2081      0.300      4.025      0.000       0.598       1.818
x6           -13.0545      1.750     -7.461      0.000     -16.610      -9.499
==============================================================================
Omnibus:                        1.185   Durbin-Watson:                   1.106
Prob(Omnibus):                  0.553   Jarque-Bera (JB):                0.866
Skew:                           0.359   Prob(JB):                        0.649
Kurtosis:                       2.926   Cond. No.                     2.39e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.39e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
print("\n Fitted Values:\n")

 Fitted Values:

In [10]:
y_pred=results.fittedvalues.round(2)
print(y_pred)

[4534.86 4277.22 4084.43 3625.99 3213.7  4836.45 4592.28 4347.26 3814.33
 3383.89 4433.44 4217.53 3999.67 3611.73 3134.15 4558.4  4365.37 4125.87
 3616.36 3259.63 4377.16 4134.19 3909.97 3482.36 3071.38 4381.36 4160.16
 3906.56 3473.54 3054.89 4373.74 4127.63 3917.93 3472.83 3058.88 4424.13
 4219.6  3976.8  3512.19 3092.71]

# now run the models with those x-values which are significant only that is p< alpha[ here alpha =0.05]

In [25]:
X1=df[['x1','x3','x5','x6']]

In [26]:
y1=df['y'].copy()   #keeping a copy of the dependent variable y
X1,y=np.array(X1),np.array(y)
x=sm.add_constant(X1)

In [27]:
model2=sm.OLS(y1,X1)
results1=model2.fit()

In [28]:
print(results1.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          2.023e+05
Date:                Fri, 16 Aug 2024   Prob (F-statistic):                    8.86e-78
Time:                        16:17:41   Log-Likelihood:                         -187.47
No. Observations:                  40   AIC:                                      382.9
Df Residuals:                      36   BIC:                                      389.7
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             1.6911      0.057     29.461      0.000       1.575       1.807
x2             0.0179      0.009      2.033      0.049    4.37e-05       0.036
x3             1.0252      0.267      3.837      0.000       0.483       1.567
x4           -14.1724      1.590     -8.915      0.000     -17.397     -10.948
==============================================================================
Omnibus:                        0.726   Durbin-Watson:                   1.087
Prob(Omnibus):                  0.696   Jarque-Bera (JB):                0.204
Skew:                           0.144   Prob(JB):                        0.903
Kurtosis:                       3.199   Cond. No.                     1.09e+04
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.09e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
print("\n Fitted Values:\n")

 Fitted Values:

In [24]:
y_pred1=results1.fittedvalues.round(2)
print(y_pred1)

0     4533.54
1     4269.49
2     4084.29
3     3621.67
4     3216.70
5     4844.45
6     4597.69
7     4344.05
8     3806.41
9     3384.16
10    4455.26
11    4209.51
12    3991.87
13    3610.99
14    3133.93
15    4559.67
16    4360.94
17    4123.65
18    3611.45
19    3270.00
20    4388.62
21    4137.87
22    3911.96
23    3485.23
24    3077.75
25    4389.01
26    4162.86
27    3907.29
28    3475.21
29    3062.53
30    4370.01
31    4127.18
32    3907.05
33    3470.26
34    3061.98
35    4419.45
36    4210.55
37    3965.56
38    3511.83
39    3088.69
dtype: float64

#split the dataset into training and testing

In [64]:
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split, cross_val_score

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [65]:
df2=pd.read_csv("Reg.csv")

In [66]:
df2.head()

   Obs     y    x1     x2     x3   x4    x5   x6
0    1  4540  2140  20640  30250  205  1732   99
1    2  4315  2016  20280  30010  195  1697  100
2    3  4095  1905  19860  29780  184  1662   97
3    4  3650  1675  18980  29330  164  1598   97
4    5  3200  1474  18100  28960  144  1541   97

In [67]:
x2=df2[['x1','x2','x3','x4','x5','x6']]

In [68]:
x2

      x1     x2     x3   x4    x5   x6
0   2140  20640  30250  205  1732   99
1   2016  20280  30010  195  1697  100
2   1905  19860  29780  184  1662   97
3   1675  18980  29330  164  1598   97
4   1474  18100  28960  144  1541   97
5   2239  20740  30083  216  1709   87
6   2120  20305  29831  206  1669   87
7   1990  19961  29604  196  1640   87
8   1702  18916  29088  171  1572   85
9   1487  18012  28675  149  1522   85
10  2107  20520  30120  195  1740  101
11  1973  20130  29920  190  1711  100
12  1864  19780  29720  180  1682  100
13  1674  19020  29370  161  1630  100
14  1440  18030  28940  139  1572  101
15  2165  20680  30160  208  1704   98
16  2048  20340  29960  199  1679   96
17  1916  19860  29710  187  1642   94
18  1658  18950  29250  164  1576   94
19  1489  18700  28890  145  1528   94
20  2062  20500  30190  193  1748  101
21  1929  20050  29960  183  1713  100
22  1815  19680  29770  173  1684  100
23  1595  18890  29360  153  1624   99
24  1400  17870  28960  134  1569  100
25  2047  20540  30160  193  1746   99
26  1935  20160  29940  184  1714   99
27  1807  19750  29760  173  1679   99
28  1591  18890  29350  153  1621   99
29  1388  17870  28910  133  1561   99
30  2071  20460  30180  198  1729  102
31  1944  20010  29940  186  1692  101
32  1831  19640  29750  178  1667  101
33  1612  18710  29360  156  1609  101
34  1410  17780  28900  136  1552  101
35  2066  20520  30170  197  1758  100
36  1954  20150  29950  188  1729   99
37  1835  19750  29740  178  1690   99
38  1616  18850  29320  156  1616   99
39  1407  17910  28910  137  1569  100

In [69]:
y2=df2['y'].copy()

In [70]:
y2

0     4540
1     4315
2     4095
3     3650
4     3200
5     4833
6     4617
7     4340
8     3820
9     3368
10    4445
11    4188
12    3981
13    3622
14    3125
15    4560
16    4340
17    4115
18    3630
19    3210
20    4330
21    4119
22    3891
23    3467
24    3045
25    4411
26    4203
27    3968
28    3531
29    3074
30    4350
31    4128
32    3940
33    3480
34    3064
35    4402
36    4180
37    3973
38    3530
39    3080
Name: y, dtype: int64

#using the train test split function

In [80]:
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state = 100)

In [81]:
reg_model = linear_model.LinearRegression()

In [82]:
#Fitting the Multiple Linear Regression model
reg_model = LinearRegression().fit(X_train, y_train)

In [89]:
#Printing the model coefficients
print('Intercept: ',reg_model.intercept_)
# pair the feature names with the coefficient
print("Coefficient:\n")
list(zip(X,reg_model.coef_))

Intercept:  -1595.385014737345
Coefficient:

[(array([ 2140, 20640, 30250,   205,  1732,    99], dtype=int64),
  1.3744150620430284),
 (array([ 2016, 20280, 30010,   195,  1697,   100], dtype=int64),
  0.16160819923433092),
 (array([ 1905, 19860, 29780,   184,  1662,    97], dtype=int64),
  0.034542223024717114),
 (array([ 1675, 18980, 29330,   164,  1598,    97], dtype=int64),
  -1.6703004717163485),
 (array([ 1474, 18100, 28960,   144,  1541,    97], dtype=int64),
  0.3312988676032039),
 (array([ 2239, 20740, 30083,   216,  1709,    87], dtype=int64),
  -14.51275784531916)]

In [84]:

#Predicting the Test and Train set result 
y_pred= reg_model.predict(X_test)  
x_pred= reg_model.predict(X_train)

In [85]:
print("Prediction for test set: {}".format(y_pred))

Prediction for test set: [3370.94902535 4576.50443761 4385.41052777 4520.99371203 3035.43068653
 4398.58528107 3071.1364676  4141.56522576]

In [78]:
#Actual value and the predicted value
reg_model_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred})
reg_model_diff

   Actual value  Predicted value
0          4560      4549.683581
1          3125      3105.218439
2          3064      3043.890012
3          3820      3810.192049
4          3940      3915.772057
5          3630      3620.225019
6          3622      3589.446736
7          3981      3975.532759

In [79]:
mae = metrics.mean_absolute_error(y_test, y_pred)
mse = metrics.mean_squared_error(y_test, y_pred)
r2 = np.sqrt(metrics.mean_squared_error(y_test, y_pred))

print('Mean Absolute Error:', mae)
print('Mean Square Error:', mse)
print('Root Mean Square Error:', r2)

Mean Absolute Error: 16.50491842913584
Mean Square Error: 346.3119194289161
Root Mean Square Error: 18.609457795135143

In [87]:
reg_model.score(X_test,y_test)

0.9900245265887035